// VARIABLES ======
$orb-size: 300px;
$orb-size-2: 400px;
$border-radius-round: 50%;

$move-pos-top: -100px;
$move-pos-bottom: -50px;
$move-pos-easing: cubic-bezier(0.455, 0.030, 0.515, 0.955);

$orb__rotation-offset: -35deg;
$cloudgroup-tilt: -19deg;

@keyframes twinkle {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
  }

  .stars,
  .twinkle {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:150%;
    height:100%;
    display:block;
    transition: all .5s ease;
  }

  .moveLeft {
    left: -50%;
  }

  .moveRight {
    left: 0;
  }

  .stars {
    background: #000 url('/stars.png') repeat top center;
    z-index:0;
  }

  .twinkle {
    background:transparent url('/twinkling.png') repeat top center;
    z-index:1;
    animation: twinkle 500s linear infinite;
  }

  .cover {
    position: absolute;
    width: 150%;
    height: 100%;
    background: #333;
    opacity: .5;
    z-index: 2;
    transition: all .5s ease;
  }





.background-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

  .wrapper__absolute--full {
	position: absolute;
	width: 100%;
	height: 100%;
}

// SPACE BACKGROUND ======
#particles-js {
	padding-bottom: 150px;
}

.space-nebula__wrapper {
	opacity: 0.08;
}

	// @keyframes space-nebula-scroll-small {
	// 	from {background-position: 0% 0%;}
	// 	to {background-position: 1200px 0%;}
	// }

	// @keyframes space-nebula-scroll-med {
	// 	from {background-position: 0% 0%;}
	// 	to {background-position: 1600px 0%;}
	// }

	// @keyframes space-nebula-scroll-large {
	// 	from {background-position: 0% 0%;}
	// 	to {background-position: 2400px 0%;}
	// }

	.space-nebula {
		position: absolute;
		width: 100%;
		height: 800px;
		top: 16%;
		background-size: 1600px 800px;
		background-position: 0% 0%;
	}

		.space-nebula-01 {
			background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/350480/bg_nebula_01.svg");
			background-size: 1200px 600px;
			height: 600px;
			top: 20%;
			opacity: 0.65;
			animation-fill-mode: forwards;
			// animation: space-nebula-scroll-small 80s linear infinite;
		}

		.space-nebula-02 {
			background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/350480/bg_nebula_02.svg");
			opacity: 0.8;
			animation-fill-mode: forwards;
			// animation: space-nebula-scroll-med 120s linear infinite;
		}

		.space-nebula-03 {
			background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/350480/bg_nebula_02.svg");
			background-size: 2400px 1200px;
			height: 1200px;
			opacity: 0.5;
			top: -4%;
			background-position: 0% 0%;
			animation-fill-mode: forwards;
			// animation: space-nebula-scroll-large 90s linear infinite;
		}


// BEACON ======
@keyframes beacon-flight-01 {
	0% {transform: translate(-20%, 55%);}
	50% {transform: translate(120%, 28%);}
	51% {transform: translate(120%, 55%);}
	100% {transform: translate(-20%, 65%);}
}

@keyframes beacon-flight-02 {
	0% {transform: translate(-20%, 7%);}
	50% {transform: translate(120%, 32%);}
	51% {transform: translate(120%, 23%);}
	100% {transform: translate(-20%, 65%);}
}

@keyframes beacon-flight-03 {
	0% {transform: translate(-20%, 78%);}
	50% {transform: translate(120%, 32%);}
	51% {transform: translate(120%, 78%);}
	100% {transform: translate(-20%, 72%);}
}

.beacon-wrapper {
	top: 0;
	z-index: 4;
}

	.beacon-wrapper-01 {
		transform: translate(-20%, 55%);
		animation: beacon-flight-01 24s linear infinite;
	}

	.beacon-wrapper-02 {
		transform: translate(-20%, 55%);
		animation: beacon-flight-02 24s 8s linear infinite;
	}

	.beacon-wrapper-03 {
		transform: translate(-20%, 55%);
		animation: beacon-flight-03 24s 16s linear infinite;
	}

	@keyframes beacon-flash {
		0% {opacity: 0.25}
		5% {opacity: 1}
		100% {opacity: 0.25}
	}

	.beacon {
		position: absolute;
		top: 0;
		width: 40px;
		height: 40px;
		border-radius: $border-radius-round;
		background: radial-gradient(
			ellipse at center,
			rgba(255,255,255,1) 0%,
			rgba(44,130,235,0.75) 15%,
			rgba(44,130,235,0.25) 30%,
			rgba(44,130,235,0) 65%);
		opacity: 1;
		animation: beacon-flash 1.6s linear infinite;
	}

// LANDSCAPE ======
.landscape {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 150px;
}

	// @keyframes landscape__bg-scroller {
	// 	from {background-position: 0px bottom}
	// 	to {background-position: -2400px bottom}
	// }

	.landscape__bg {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 220px;
		background-size: 2400px 220px;
		background-position: 0px bottom;
		background-repeat: repeat;
	}

		.landscape__bg--01 {
			background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/350480/landscape_fg_01.svg");
			animation-fill-mode: forwards;
			// animation: landscape__bg-scroller 80s linear infinite;
		}
		.landscape__bg--02 {
			background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/350480/landscape_fg_02.svg");
			animation-fill-mode: forwards;
			// animation: landscape__bg-scroller 120s linear infinite;
		}
		.landscape__bg--03 {
			background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/350480/landscape_fg_03.svg");
			animation-fill-mode: forwards;
			// animation: landscape__bg-scroller 200s linear infinite;
		}

.landscape-clouds__wrapper {
	top: 0%;
	opacity: 0.05;
}

// @keyframes landscape-clouds-scroller {
// 	from {background-position: 0px 0%;}
// 	to {background-position: -800px 0%;}
// }

	.landscape-clouds {
		position: absolute;
		width: 100%;
		height: 400px;
		bottom: -2%;
		background-size: 800px 400px;
		background-position: 0% 0%;
		transform: scaleX(-1)
	}

	.landscape-clouds-01 {
		background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/350480/landscape_clouds_01.svg");
		animation-fill-mode: forwards;
		// animation: landscape-clouds-scroller 160s linear infinite;
	}

	.landscape-clouds-02 {
		background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/350480/landscape_clouds_02.svg");
		animation-fill-mode: forwards;
		opacity: 0.5;
		// animation: landscape-clouds-scroller 52s linear infinite;
	}




