$buttonColor: lighten(#e870d0, 15%);
$backgroundColor: #DAEBEE;
$successColor: #3BB873;

@mixin dimensions($width: null, $height: $width) { width: $width; height: $height; }
%reset { margin: 0; padding: 0; }
%flex { display: flex; justify-content: center;	align-items: center; }
*, *:before, *:after { box-sizing: border-box; }


button[type="submit"] {
	@extend %flex;
	@include dimensions($width: 100px, $height: 50px);
	background: transparent;
	border-radius: 10px;
	will-change: transform;
	transition: all .2s ease;
	font-family: 'Lato';
	border: 2px solid lighten(#70e8c8, 30%);
	cursor: pointer;
	color: #ffffff;
	font-size: 16px;
	color: lighten(#70e8c8, 30%);
	outline: none;
	text-align: center;

	&:hover {
		background: lighten(#70e8c8, 30%);
		color: #70e8c8;
	}
	&:active {
		font-size: 15px;
		transform: translateY(1px);
	}
	&.active {
		font-size: 0;
		border-radius: 25px;
		width: 50px;
		background: transparent;
		border-color: $buttonColor;
	}
	&.loader {
		border-right: 2px solid #70e8c8;
		animation: loader .4s linear infinite;
	}
	&.success {
		background: $successColor;
		border-color: $successColor;
		font-size: 14px;
		color: #ffffff;
	}
}

@keyframes loader {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(360deg);
	}
}