.loading {
	@include flex(row, center, center);
	@include size(100%, 50px);
	background-color: transparent;
	border-radius: 10px;
	will-change: transform;
	transition: all .2s ease;
	font-family: 'Lato';
	border: 2px solid transparent;
	cursor: pointer;
	font-size: 1.2rem;
	color: $white;
	outline: none;
	text-align: center;


	&.active {
		font-size: 0;
		border-radius: 25px;
		width: 50px;
		background: transparent;
		border-color: $white;
	}

	&.loader {
		border-right: 2px solid $green;
		animation: loader .4s linear infinite;
		animation-delay: 0.2s;
	}
}


@keyframes loader {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(360deg);
	}
}