
.post {
    @include flex(column, center, center);
    @include size(100%, 100%);
    position: absolute;
    top: 0;
    background-color: transparentize($black, 0.01);
    z-index: 100;

    &__clickable-layer {
        @include size(100%, 100%);
        position: absolute;
        top: 0;
        z-index: 101;
    }

    &__top-bar {
        @include flex(row, flex-end, center);
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        padding: 20px;
        box-sizing: border-box;
        z-index: 110;
    }

    &__close-btn {
        @include size(30px, 30px);
        background-color: transparent;
        border: none;
        outline: 0;
        cursor: pointer;
        transform: scale(1);
        transition: all .1s ease;
        background: url('/img/error.svg') no-repeat center;
        background-size: contain;

        &:focus,
        &:hover {
            transform: scale(1.1);
        }
    }

    &__content-container {
        @include flex(row, center, center);
        position: relative;
        height: 80vh;
        background: $white;
        border-radius: 10px;
        z-index: 102;

        @media (max-width: 1000px) {
            @include size(100%, auto);
        }
    }

    &__img {
        @include size(auto, 100%);
        object-fit: cover;
        z-index: 103;

        @media (max-width: 1000px) {
            @include size(100%, auto);
        }
    }
}