.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    form {
        margin-bottom: 15px;
    }

    input {
        appearance: none;
        border: 0;
        outline: 0;
        border-bottom: 2px solid lighten(#70e8c8, 30%);
        background-color: transparent;
        font-family: 'Lato';
        color: white;
        font-size: 2rem;
        padding: 10px 5px;
        transition: all .3s ease;

        &::-webkit-input-placeholder {
            color: lighten(#70e8c8, 30%);
            font-family: 'Tajawal';
        }

        &:focus {
            border-bottom-color: lighten(#e870d0, 15%);
        }
    }

    &__error {
        font-family: 'Lato';
        color: lighten(#70e8c8, 30%);
        opacity: 0;
        height: 10px;

        &--active {
            opacity: 1;
        }
    }
}