.user {
    @include flex(column, center, center);
    @include size(100%, 100%);
    font-size: 2rem;
    color: $white;

    &__top-bar {
      @include size(100%, 70px);
      @include flex(row, flex-start, center);
    }

    &__main {
      @include flex(column, center, center);
      flex: 1;

      @media (max-width: 767px) {
        padding-top: 8vh;
      }
    }

    &__avatar-container {
      @include size(150px, 150px);
      min-height: 150px;
      position: absolute;
      top: -65px;
      padding: 10px;
      background-color: $white;
      border-radius: 50%;
      overflow: hidden;
      transition: all .1s ease;

      @media (max-width: 576px) {
        @include size(100px, 100px);
        min-height: 100px;
        top: -40px;
      }
    }

    &__avatar {
      @include size(100%, 100%);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      border-radius: 50%;
    }

    &__username {
      width: 100%;
      margin: 0;
      margin-top: 70px;
      font-size: 0.9rem;
      text-align:center;
      color: #333;
    }

    &__stats {
      @include flex(row, center, center);
      width: 100%;
      padding: 10px 20px;
      box-sizing: border-box;

      &--top {
        margin-top: 20px;
      }

      @media (max-width: 576px) {
        padding: 7px 20px;

        &--top {
          margin-top: 0;
        }
      }

      li {
        @include flex(column, center, center);
        flex: 1;
        padding: 10px;
        color: #333;
        border-right: 2px solid $white;

        &:last-child {
          border: none;
        }

        p {
          width: 100%;
          margin: 0;
          text-align: center;

          &:last-child {
            flex: 1;
          }
        }
      }
    }

    &__stat-title {
      font-size: 0.8rem;
      text-transform: uppercase;
      color: lighten($black, 20%);
      transition: all .1s ease;


      @media (max-width: 576px) {
        font-size: 0.7rem;
      }
    }

    &__stat-content {
      font-size: 1.5rem;
      color: $black;

      @media (max-width: 576px) {
        font-size: 1.3rem;
      }
    }

    &__engagement-rate {
      font-size: 3rem;
      margin: 0;
      padding: 10px 0;
    }
  }