.user {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;

    &__top-bar {
      width: 100%;
      height: 70px;
      display: flex;
      justify-content: flex-start;
    }

    &__main {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex: 1;
    }

    &__card {
      position: relative;
      display: flex;
      justify-content: center;
      width: 70vw;
      height: 70%;
      padding: 20px;
      box-sizing: border-box;
      border-radius: 7px;
      background-color: rgba(255, 255, 255, 0.7 );
    }

    &__card-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
    }

    &__avatar-container {
      position: absolute;
      top: -50px;
      background-color: rgba(255, 255, 255, 0.7);
      padding: 10px;
      border-radius: 50%;
      overflow: hidden;
      width: 100px;
      height: 100px;
      min-height: 100px;
    }

    &__avatar {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      border-radius: 50%;
    }

    &__username {
      width: 100%;
      margin: 0;
      margin-top: 70px;
      text-align:center;
    }

    &__stats {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding: 10px;
        border-right: 2px solid #fff;

        &:last-child {
          border: none;
        }

        p {
          margin: 0;

          &:last-child {
            flex: 1;
          }
        }
      }
    }

    &__engagement-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex: 1;
    }
  }
