$animationLength: 1.2s;

.animate {

    &__in {

      &--left {
        animation: in-left .6s linear;
        animation-fill-mode: forwards;
      }

      &--right {
        animation: in-right .6s linear;
        animation-fill-mode: forwards;
      }
    }

    &__out {

      &--left {
        animation: out-left .6s linear;
        animation-fill-mode: forwards;
      }

      &--right {
        animation: out-right .6s linear;
        animation-fill-mode: forwards;
      }
    }

    &__fade-in {
      animation: fade-in 0.3s ease-in;
      animation-fill-mode: forwards;
    }

    &__fade-out {
      animation: fade-out 0.3s ease-in;
      animation-fill-mode: forwards;
    }


  }

  @keyframes in-left {
    from {
      opacity: 0;
      transform: translateX(10%);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes in-right {
    from {
      opacity: 0;
      transform: translateX(-10%);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes out-left {
    from {
      opacity: 1;
      transform: translateX(0);
    }

    to {
      opacity: 0;
      transform: translateX(-10%);
    }
  }

  @keyframes out-right {
    from {
      opacity: 1;
      transform: translateX(0);
    }

    to {
      opacity: 0;
      transform: translateX(10%);
    }
  }

  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
  }