@import url('https://fonts.googleapis.com/css?family=Lato|Tajawal:200&display=swap');
@import './styles/base';


body {
  overflow-x: hidden;
  background-color: $green;
  font-family: 'Lato';
  color: $black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.search, .home, .user {
  z-index: 3;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Tajawal';
  color: $white;
  font-size: 2.2rem;
  margin: 10px 0 0 10px;
  user-select: none;

  &__icon {
    background: url('/img/moon.svg') no-repeat center;
    background-size: contain;
    width: 25px;
    height: 25px;
    display: inline-block;
  }
}

.remove {
  display: none;
}

