@import url('https://fonts.googleapis.com/css?family=Lato|Tajawal:200&display=swap');
@import './styles/base';


body {
  overflow-x: hidden;
  font-family: 'Lato';
  background-color: $green;
  color: $black;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.app {
  @include flex(row, center, center);
  @include size(100%, 100%);
  position: relative;
  overflow: hidden;
}

.search, .home, .user {
  z-index: 3;
}

.remove {
  display: none;
}

